*.log
*.dvi
*.aux
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.acn
*.glo
*.glsdefs
*.ist
*.acr
*.alg
*.glg
*.gls
*.sublime-*
*.pdf
*.xmpi
*.fdb_latexmk
*.fls
*.synctex.gz
*.loa
vzor-dp
papers
attachments/
!img/*.pdf
!img/plots/*.pdf
*.zip
tex/*.txt
